.todolists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: scroll;
  width: 900px;
  height: 70vh;
}
.todo {
  background-color: rgb(247, 199, 67);
  padding: 0.5rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: clamp(0px, 100%, 300px);
}

.todo_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo_icons > * {
  cursor: pointer;
}
.todo_icons > *:hover {
  color: rgb(196, 66, 196);
  scale: 1.1;
}
