@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  font-family: "Madimi One", sans-serif;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}

.App {
  height: 100vh;
  background-color: rgb(195, 152, 236);
  padding: 2rem;
}
.heading {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  color: rgb(68, 65, 65);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}
